h2{
    color: white!important;
}

.nfl-team-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
}

.nfl-team-item {
    width: 47%;
    padding: 5%;
    margin-left: 1%;
    margin-bottom: 1%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.nfl-team-logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.nfl-team-info {
    flex-grow: 1;
    flex-basis: 100%;
}

.nfl-team-info h3 {
    margin: 0 0 10px 0;
}

.nfl-team-info p {
    margin: 5px 0;
}

#nflData h1, h3{
    margin-left: 20px;
}